type project
id Aardvark.Rendering.Text
authors VRVis Research Center
description
    Aardvark.Rendering.Text
files
    ..\..\bin\Release\Aardvark.Rendering.Text.dll ==> lib\net45
    ..\..\bin\Release\Aardvark.Rendering.Text.pdb ==> lib\net45
    ..\..\bin\Release\LibTessDotNet.Double.dll ==> lib\net45