bin/Release
bin/Debug
!/bin/*.nuspec
*.swp
*.userprefs
**/obj
/packages
!/packages/*.config
/src/*.suo
/bin/*.nupkg
/src/.vs
/src/*.opensdf
/src/*.sdf
/src/ipch/GLVM-7f383b0f/*.ipch
\\\\hobel\\NuGet\\
