bin/Release
bin/Debug
!/bin/*.nuspec
*.g.fs
*.swp
*.userprefs
**/obj
/packages
!/packages/*.config
/src/*.suo
/bin/*.nupkg
/src/.vs
/src/*.opensdf
/src/*.sdf
/src/ipch/GLVM-7f383b0f/*.ipch
\\\\hobel\\NuGet\\
*.o
*~
src/GLVM/*.so
/sources.lock
/bin/Aardvark.Fake.dll
~$*
/paket-files
.fake
/.paket/paket.exe
/src/Demo/Examples/polygons.dgml
/src/Demo/Examples/tictactoe.dgml
/perfTest.exe
/src/*.opendb
/src/*.db
/lib/Native/Aardvark.Rendering.GL/windows/AMD64/glvm.iobj
/lib/Native/Aardvark.Rendering.GL/windows/AMD64/glvm.ipdb
/lib/Native/Aardvark.Rendering.GL/windows/x86/glvm.iobj
/lib/Native/Aardvark.Rendering.GL/windows/x86/glvm.ipdb
/lib/Native/Aardvark.Rendering.GL/windows/AMD64/glvm.ilk
/src/ipch/GLVM-7bf6b518/*.ipch
/lib/Native/Aardvark.Rendering.Vulkan2/windows/x86/*.ipdb
/lib/Native/Aardvark.Rendering.Vulkan2/windows/AMD64/*.ipdb
/lib/Native/Aardvark.Rendering.Vulkan2/windows/AMD64/*.iobj
/lib/Native/Aardvark.Rendering.Vulkan2/windows/x86/*.iobj
/lib/Native/Aardvark.Rendering.Vulkan2/windows/AMD64/*.ilk
/lib/Native/Aardvark.Rendering.Vulkan2/windows/x86/*.ilk
/src/vkvm/.vs/VKVM/v14/*.suo
/src/vkvm/*.so
.ionide.debug
