source https://api.nuget.org/v3/index.json
source https://vrvis.myget.org/F/aardvark_public/api/v3/index.json

nuget Aardvark.Base.Incremental          ~> 2.0.3
nuget Aardvark.Base.Runtime              ~> 2.0.3
                                         
nuget FShade                             ~> 2.0.1
nuget GLSLangSharp                       ~> 0.2.3
     
nuget Poly2Tri                           ~> 1.0.1	 
nuget BruTile                            ~> 0.12.0
nuget FSharp.Quotations.Evaluator        ~> 1.0.6
nuget AssimpNet                          ~> 3.3.1
nuget OpenHardwareMonitor                ~> 0.7.1
nuget NanoVgSharp                        ~> 2.0.0
nuget DockPanelSuite                     ~> 2.10.0
nuget DockPanelSuite.ThemeVS2012Light    ~> 2.10.0
nuget DockPanelSuite.ThemeVS2013Blue     ~> 2.10.0

nuget Poly2Tri                           ~> 1.0.1
nuget CommonMark.NET                     ~> 0.12.0

nuget FsUnit                             ~> 2.1.0
nuget NUnit                              ~> 3.2.0
nuget NUnit.Console                      ~> 3.2.0

group Build
content: none
source https://api.nuget.org/v3/index.json
source https://vrvis.myget.org/F/aardvark_public/api/v3/index.json
github vrvis/Aardvark.Fake:standalone
