framework: auto-detect
source https://api.nuget.org/v3/index.json

storage: none

nuget Aardvark.Build                                ~> 2.0.2
nuget FSharp.Core                                   >= 8.0.0 lowest_matching: true
nuget Microsoft.NETFramework.ReferenceAssemblies    >= 1.0.0 lowest_matching: true

nuget FSharp.Data.Adaptive                          ~> 1.2.19
nuget CSharp.Data.Adaptive                          ~> 1.2.19

nuget Aardvark.Base.TypeProviders                   ~> 4.5.15

nuget Aardvark.Base.FSharp                          ~> 5.3.6
nuget Aardvark.Base.IO                              ~> 5.3.6
nuget Aardvark.Base.Incremental                     ~> 5.3.6
nuget Aardvark.Base.Essentials                      ~> 5.3.6
nuget Aardvark.Geometry                             ~> 5.3.6
nuget Aardvark.Base.Tensors                         ~> 5.3.6
nuget Aardvark.Base.Fonts                           ~> 5.3.6

nuget Aardvark.Assembler                            ~> 0.1.0

nuget Aardvark.FontProvider                         ~> 0.1.1

nuget FShade.Core                                   ~> 5.6.0
nuget FShade                                        ~> 5.6.0
nuget FShade.Debug                                  ~> 5.6.0

nuget Unofficial.OpenVR					            ~> 1.1.0
nuget CommonMark.NET                                ~> 0.15.1
nuget GLSLangSharp                                  ~> 0.4.14

nuget Unofficial.LibTessDotNet                      ~> 2.0.2
nuget AssimpNet                                     ~> 5.0.0-beta1
nuget Offler                                        ~> 2.1.1
nuget FSharp.Data                                   ~> 6.4.0

nuget Unofficial.OpenTK                             ~> 3.0.21
nuget Unofficial.OpenTK.GLControl                   ~> 3.0.21
nuget Silk.NET.GLFW                                 = 2.15.0
nuget Silk.NET.Core                                 = 2.15.0
nuget Silk.NET.Direct3D9                            = 2.15.0

// Examples
nuget Aardvark.PixImage.DevIL                       ~> 5.2.33
nuget Aardvark.PixImage.ImageSharp                  ~> 2.0.2
nuget Aardvark.Data.GLTF                            ~> 1.0.0
nuget Aardvark.Data.Opc                             ~> 0.9.0

// Tests
 nuget Expecto                                      ~> 9.0.4
 nuget Expecto.FsCheck                              ~> 9.0.4
 nuget Expecto.Hopac                                ~> 9.0.4
 nuget BenchmarkDotNet                              ~> 0.13.1
 nuget YoloDev.Expecto.TestSdk                      ~> 0.13.3
 nuget Microsoft.NET.Test.Sdk                       ~> 17.5.0