source https://nuget.org/api/v2

source \\hobel\nuget

nuget Aardvark.Base.Incremental ~> 1.3.5
nuget FShade ~> 1.3.5
nuget RegexProvider ~> 0.0.5
nuget BruTile ~> 0.12.0
nuget FSPowerPack.Community ~> 3.0.0
nuget AssimpNet ~> 3.3.1
