type project
id Aardvark.Application.WPF
authors VRVis Research Center
description
    Aardvark.Application.WPF
frameworkAssemblies
    System.Xaml
    PresentationCore
    PresentationFramework
    UIAutomationTypes
    WindowsBase
    WindowsFormsIntegration
files
    ..\..\..\bin\Release\Aardvark.Application.WPF.dll ==> lib\net45
    ..\..\..\bin\Release\Aardvark.Application.WPF.pdb ==> lib\net45