type project
id Aardvark.SceneGraph.IO
authors VRVis Research Center
description
    Aardvark.SceneGraph
files
    ..\..\bin\Release\Aardvark.SceneGraph.IO.dll ==> lib\net45
    ..\..\bin\Release\Aardvark.SceneGraph.IO.pdb ==> lib\net45