type project
id Aardvark.Rendering.Vulkan
authors VRVis Research Center
description
    Aardvark.Rendering.Vulkan
files
    ..\..\bin\Release\Aardvark.Rendering.Vulkan2.dll ==> lib\net45
    ..\..\bin\Release\Aardvark.Rendering.Vulkan2.pdb ==> lib\net45