<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aardvark.Base" version="1.1.12" targetFramework="net45" />
  <package id="Aardvark.Base.Essentials" version="1.1.12" targetFramework="net45" />
  <package id="Aardvark.Base.FSharp" version="1.1.12" targetFramework="net45" />
  <package id="Aardvark.Base.Incremental" version="1.1.12" targetFramework="net45" />
  <package id="AssimpNet" version="3.3.1" targetFramework="net45" />
  <package id="DevILSharp" version="0.0.5" targetFramework="net45" />
  <package id="FShade" version="1.0.5" targetFramework="net45" />
  <package id="FSharp.Compiler.Service" version="0.0.86" targetFramework="net45" />
  <package id="FsUnit" version="1.3.0.1" targetFramework="net45" />
  <package id="Microsoft.Bcl.Immutable" version="1.0.34" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net40" />
  <package id="RegexProvider" version="0.0.4" targetFramework="net45" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net45" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net45" />
</packages>