type project
id Aardvark.Base.Rendering
authors VRVis Research Center
description
    Aardvark.Base.Rendering
files
    ..\..\bin\Release\Aardvark.Base.Rendering.dll ==> lib\net45
    ..\..\bin\Release\Aardvark.Base.Rendering.pdb ==> lib\net45