type project
id Aardvark.Application.WinForms.GL
authors VRVis Research Center
description
    Aardvark.Application.WinForms.GL
files
    ..\..\bin\BUILDCONFIG\Aardvark.Application.WinForms.GL.dll ==> lib\net45
    ..\..\bin\BUILDCONFIG\Aardvark.Application.WinForms.GL.pdb ==> lib\net45
    ..\..\bin\BUILDCONFIG\Aardvark.Application.WinForms.GL.xml ==> lib\net45