type project
id Aardvark.Application
authors VRVis Research Center
description
    Aardvark.Application
files
    ..\..\..\bin\Release\Aardvark.Application.dll ==> lib\net45
    ..\..\..\bin\Release\Aardvark.Application.pdb ==> lib\net45