type project
id Aardvark.Rendering.NanoVg
authors VRVis Research Center
description
    Aardvark.Rendering.NanoVg
files
    ..\..\bin\Release\Aardvark.Rendering.NanoVg.dll ==> lib\net45
    ..\..\bin\Release\Aardvark.Rendering.NanoVg.pdb ==> lib\net45
    ..\..\bin\Release\Aardvark.Rendering.NanoVg.xml ==> lib\net45