name: VKVM
on:
  workflow_dispatch:
  push:
    branches: 
      - v56
    paths:
      - .github/workflows/vkvm.yml
jobs:
  windows-x64:
    name: Windows (x64)
    runs-on: windows-2022
    steps:  
      - name: Checkout
        uses: actions/checkout@v4
      - name: Prepare Vulkan SDK
        uses: humbletim/setup-vulkan-sdk@v1.2.1
        with:
          vulkan-query-version: latest
          vulkan-components: Vulkan-Headers, Vulkan-Loader
          vulkan-use-cache: true
      - name: Build
        run: .\build.cmd
        working-directory: .\src\VKVM
      - name: Upload Windows native libs
        uses: actions/upload-artifact@v4
        with:
          name: windows-x64
          path: lib/Native/Aardvark.Rendering.Vulkan/windows/AMD64/
  linux-x64:
    name: Linux (x64)
    runs-on: ubuntu-22.04
    steps:  
      - name: Checkout
        uses: actions/checkout@v4
      - name: Prepare Vulkan SDK
        uses: humbletim/setup-vulkan-sdk@v1.2.1
        with:
          vulkan-query-version: latest
          vulkan-components: Vulkan-Headers, Vulkan-Loader
          vulkan-use-cache: true
      - name: Build
        run: ./build.sh
        working-directory: ./src/VKVM
      - name: Upload Linux native libs
        uses: actions/upload-artifact@v4
        with:
          name: linux-x64
          path: lib/Native/Aardvark.Rendering.Vulkan/linux/AMD64/          
  macos-x64:
    name: MacOS (x64)
    runs-on: macos-13
    steps:  
      - name: Checkout
        uses: actions/checkout@v4
      - name: Prepare Vulkan SDK
        uses: humbletim/setup-vulkan-sdk@v1.2.1
        with:
          vulkan-query-version: latest
          vulkan-components: Vulkan-Headers, Vulkan-Loader
          vulkan-use-cache: true
      - name: Build
        run: ./build.sh
        working-directory: ./src/VKVM
      - name: Upload MacOS native libs
        uses: actions/upload-artifact@v4
        with:
          name: mac-x64
          path: lib/Native/Aardvark.Rendering.Vulkan/mac/AMD64/
  macos-arm64:
    name: MacOS (ARM64)
    runs-on: macos-14
    steps:  
      - name: Checkout
        uses: actions/checkout@v4
      - name: Prepare Vulkan SDK
        uses: humbletim/setup-vulkan-sdk@v1.2.1
        with:
          vulkan-query-version: latest
          vulkan-components: Vulkan-Headers, Vulkan-Loader
          vulkan-use-cache: true
      - name: Build
        run: ./build.sh
        working-directory: ./src/VKVM
      - name: Upload MacOS native libs
        uses: actions/upload-artifact@v4
        with:
          name: mac-arm64
          path: lib/Native/Aardvark.Rendering.Vulkan/mac/ARM64/          
  build:
    name: Build
    runs-on: windows-latest
    needs: 
      - windows-x64
      - linux-x64
      - macos-x64
      - macos-arm64
    steps:  
      - name: Checkout
        uses: actions/checkout@v4
      - name: Download MacOS dependencies (x64)
        uses: actions/download-artifact@v4
        with:
          name: mac-x64
          path: lib/Native/Aardvark.Rendering.Vulkan/mac/AMD64/
      - name: Download MacOS dependencies (arm64)
        uses: actions/download-artifact@v4
        with:
          name: mac-arm64
          path: lib/Native/Aardvark.Rendering.Vulkan/mac/ARM64/
      - name: Download Linux dependencies 
        uses: actions/download-artifact@v4
        with:
          name: linux-x64
          path: lib/Native/Aardvark.Rendering.Vulkan/linux/AMD64/
      - name: Download Windows dependencies
        uses: actions/download-artifact@v4
        with:
          name: windows-x64
          path: lib/Native/Aardvark.Rendering.Vulkan/windows/AMD64/
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          commit-message: "[VKVM] Update native libraries"
          branch: vkvm-ci-build
          title: "[VKVM] Update native libraries"